<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Créditos dos icones utilizados</h1>
    <a target="_blank" href="https://icons8.com/icon/bYzsf9Bmocst/twitter">Twitter</a> ícone por <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/43625/instagram">Instagram</a> ícone por <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/118501/facebook">Facebook Novo</a> ícone por <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/118501/facebook">Facebook Novo</a> ícone por <a target="_blank" href="https://icons8.com">Icons8</a>
</body>
</html>