<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
        <title>BETA - Projeto II</title>
    </head>
    <body>
        <header class="headerCabecalho">
            <div class="headerCabecalhoDivNome">
                <h1>[LOGO/NOME/MARCA/IMAGEM]</h1>
            </div>
            <div class="headerContainerCabecalhoDivLinks">                
                <a class="passeios">PASSEIOS</a>
                <a class="ferramentas">FERRAMENTAS</a>                
                <a class="entreEmContato">ENTRE EM CONTATO</a>
                <a class="sobreNos">SOBRE NÓS</a>
                <a class="home">CRÉDITOS</a>
            </div>
        </header>
        <section class="sectionArtigos">
            <article class="artigoSobreGramado sectionContainerArtigosImpares" id="artigoSobreGramado">
                <img class="fotoArtigos" src="../static/png/foto_gramado_001.png">
                <h2>Descobrindo as Maravilhas de Gramado</h2><br><br>
                    <p>Viajar para Gramado é uma experiência que transporta o visitante para um cenário encantador, onde a natureza exuberante se mescla harmoniosamente com a arquitetura europeia e o charme das ruas floridas. Ao chegar, fui recebido pela brisa fresca e pelo clima ameno, que instantaneamente me envolveram em uma atmosfera acolhedora e relaxante.<br><br>
        
                        Explorar Gramado é como adentrar em um conto de fadas moderno. Passear pela Rua Coberta, com seus cafés aconchegantes e lojas charmosas, foi um convite irresistível para mergulhar na cultura local. Os chocolates artesanais são uma tentação constante, assim como os deliciosos fondues e as cervejas artesanais que permeiam os cardápios dos restaurantes.<br><br>
        
                        Durante o dia, percorri os parques cuidadosamente ornamentados, como o Lago Negro, onde as árvores se refletem nas águas tranquilas, criando uma paisagem de tirar o fôlego. A Aldeia do Papai Noel, um lugar mágico o ano todo, despertou meu espírito infantil com suas decorações natalinas e alegria contagiante.<br><br>
        
                        À noite, Gramado se transforma com suas luzes e eventos culturais. Assistir a um espetáculo no Palácio dos Festivais, sede do famoso Festival de Cinema, foi uma experiência cultural única, imersa em um cenário cinematográfico real.<br><br>
        
                        Os passeios pelas vinícolas da região, como em Bento Gonçalves, completaram minha jornada gastronômica e cultural, proporcionando uma verdadeira educação sobre a produção de vinhos no Brasil.<br><br>
        
                        Cada momento em Gramado foi marcado pela hospitalidade dos moradores locais, que compartilham com orgulho sua história e tradições. Partir de Gramado foi como deixar para trás um pedaço de um mundo onde a beleza natural se funde perfeitamente com o desenvolvimento sustentável e a preservação do patrimônio histórico.<br><br>
        
                        Gramado é mais do que um destino turístico; é um refúgio encantador que convida a desacelerar, apreciar cada detalhe e celebrar a vida em meio a uma das paisagens mais deslumbrantes do Brasil.</p><br><br>
            </article>
            <article class="artigoSobreFoxDoIguaçu sectionContainerArtigosPares" id="artigoSobreFoxDoIguaçu">
                <img class="fotoArtigos" src="../static/jpg/foto_fox_do_iguaçu_001.jpg">
                <h2>Descobrindo as Maravilhas de Foz do Iguaçu</h2><br><br>
                <p>Localizada no extremo oeste do Paraná, Foz do Iguaçu é uma joia turística que atrai visitantes de todo o mundo por suas belezas naturais e sua rica diversidade cultural. Uma viagem a Foz do Iguaçu oferece uma experiência única, onde se pode explorar tanto a grandiosidade das Cataratas do Iguaçu quanto a tranquilidade da fauna e flora do Parque Nacional do Iguaçu.<br><br>
    
                As Cataratas do Iguaçu, uma das Sete Maravilhas Naturais do Mundo, são o ponto alto da viagem. A imensidão das quedas d'água, formando um espetáculo visual inesquecível, é um convite para contemplar a força da natureza. Passeios de barco próximo às quedas proporcionam uma perspectiva ainda mais íntima e emocionante.<br><br>
    
                Além das cataratas, o Parque Nacional do Iguaçu abriga uma biodiversidade incrível, com trilhas que levam a observatórios estratégicos para avistar pássaros, animais e vegetação típicos da região. É um mergulho na natureza preservada, onde cada passo revela novas surpresas e beleza exuberante.<br><br>
    
                A cultura local também enriquece a experiência em Foz do Iguaçu. A proximidade com a Argentina e o Paraguai proporciona uma mistura única de influências, refletida na gastronomia diversificada e nas opções de compras nos mercados e feiras locais.<br><br>
    
                Ao visitar Foz do Iguaçu, é imprescindível dedicar tempo para conhecer a Usina Hidrelétrica de Itaipu, uma das maiores do mundo, e entender sua importância histórica e ambiental para a região.<br><br>
    
                Em resumo, uma viagem a Foz do Iguaçu é uma jornada de descobertas que envolve paisagens deslumbrantes, contato próximo com a natureza e uma imersão cultural única. É um destino que marca não apenas pela sua beleza, mas também pela experiência enriquecedora que proporciona a todos os visitantes.</p><br><br>
            </article>
        </section>
        <section class="sectionContainerEntreEmContato">
            <h2 class="h2EntreEmContato">Entre em Contato!</h2><br><br>
            <p class="pEntreEmContato">"Queridos leitores do blog, adoraria ouvir suas experiências de viagem! Compartilhem suas aventuras e opiniões nos comentários abaixo. Vamos inspirar uns aos outros com histórias incríveis e dicas valiosas. Mal posso esperar para ler o que vocês têm a dizer! 😊🌍 #ViajarÉViver"</p><br><br>
            <form class="formEntreEmContato">
                <input placeholder="Seu nome">
                <input placeholder="Seu celular">
                <input placeholder="Seu E-mail">
                <textarea id="comentario" name="comentario" rows="6" placeholder="Descreva suas experiências"></textarea>
                <button type="submit">Enviar Depoimento</button>
            </form>
        </section>
        <section>
            <footer class="footer">
                <div class="footerDivSobreNos">
                    <h2>Sobre Nós</h2><br><br>
                    <p>Olá a todos!<br>É com grande prazer que venho hoje compartilhar com vocês um pouco sobre o nosso blog de viagens, o "Nome Aqui". Este blog não é apenas um espaço virtual onde escrevemos sobre lugares incríveis que visitamos, mas também é um reflexo das experiências e das memórias que compartilhamos como um grupo de amigos apaixonados por explorar o mundo.</p><br><br>
                    <h2>Nossas Redes Sociais</h2><br><br>
                    <div class="footerDivContainerRedesSociais">
                        <div class="divRedeSocial"><img class="iconRedeSocial instagram" src="../static/png/icon_instagram_512.png"><a>[LINK DA REDE SOCIAL AQUI]</a></div>
                        <div class="divRedeSocial"><img class="iconRedeSocial twitter" src="../static/png/icon_twitter_512.png"><a>[LINK DA REDE SOCIAL AQUI]</a></div>
                        <div class="divRedeSocial"><img class="iconRedeSocial facebook" src="../static/png/icon_facebook_512.png"><a>[LINK DA REDE SOCIAL AQUI]</a></div>
                        <div class="divRedeSocial"><img class="iconRedeSocial whatsapp" src="../static/png/icon_whatsapp_512.png"><a>[LINK DA REDE SOCIAL AQUI]</a></div>
                    </div>
                </div>
                <div class="footerDivNossoGrupo">
                    <h2>Nosso Grupo</h2>
                    <p>Copyright &copy; 2024 - by GRUPO 005</p>
                        <p>
                            Anderson Santana - 
                            Ieda Gonçalves de Araújo - 
                            Josiane Espin Graciano Cavalcanti - 
                            Palomma Nobre Silva - 
                            Rafael Morais Bomfim - 
                            Roberval Marques Aceti - 
                            Rodrigo Cavalcanti Borges - 
                            Rodrigo Ferreira Zanoti
                        </p>
                    </div>
            </footer>
        </section>
    </body>
</html>